---
import Layout from "../../layouts/second.astro";
import { BLOG, DOMAIN } from "../../utils/constants.ts";

const TITLE = "Writing and Documenting My Thinking";
const DESC =
  "This is where I share what I'm learning, improve my writing, and build understanding over time through regular documentation.";
const URL = `${DOMAIN}/blog`
---

<Layout>
  <Fragment slot="head">
    <title>{TITLE}</title>
    <meta name="description" content={DESC} />
    <link rel="canonical" href={URL} />
    <meta property="og:url" content={URL} />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESC} />
    <meta name="twitter:title" content={TITLE} />
    <meta name="twitter:description" content={DESC} />
  </Fragment >
  <Fragment slot="sidebar">
    {BLOG.map((item) => (
      <a
        href={`#${item.slug}`}
        class="side__dot"
        aria-label={item.data.title}
      >
        <span class="label">
          {item.data.title}
        </span>
      </a>
    ))}
  </Fragment>
  <header>
    <h1>{TITLE}</h1>
    <p>{DESC}</p>
  </header>

  <ul class="blog__root">
    {BLOG.map((item) => (
    <li class="blog__item" id={item.slug}>
        <a href={`/blog/${item.slug}`} class="blog__link">
          <h2>{item.data.title}</h2>

          <div class="meta">
            {item.data.tags.map((tag, i) => (
              <span class="tag">
                {tag}
                {i < item.data.tags.length - 1 && " / "}
              </span>
            ))}
          </div>
        </a>
      </li>
    ))}
  </ul>
</Layout>

<style>

header h1 {
  font-size: 1.5rem;
}


.blog__root {
  list-style: none;
  padding: 0;
}

.blog__item {
  margin-bottom: 2.2rem;
}

.blog__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.blog__link h2 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: .4rem;
}

.meta {
  font-size: 14px;
  color: var(--foreground-muted);
}

.tag {
  font-size: 14px;
  font-family: "secondary";
  font-style: italic
}

.blog__link:hover h2 {
  text-decoration: underline;
}
</style>
