---
import Layout from "../layouts/second.astro";
import { CONNECT, DOMAIN } from "../utils/constants.ts"

const TITLE = "Connect | Jaenudin"
const DESC = "Reach out and say hello. Here is where you can find me online and follow along with what I’m building."
const URL = `${DOMAIN}/connect`
---

<Layout>
  <Fragment slot="head">
    <title>{TITLE}</title>
    <meta name="description" content={DESC} />
    <link rel="canonical" href={URL} />
    <meta property="og:url" content={URL} />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESC} />
    <meta name="twitter:title" content={TITLE} />
    <meta name="twitter:description" content={DESC} />
  </Fragment >
    <header>
      <h1>Connect</h1>
      <p>{DESC}</p>
    </header>
    <ul>
      {CONNECT.map((item, id) => {
        return <li>
          <p>
            <a href={item.value} target="_blank">
              {item.label}
            </a>
          </p>
      </li>
      })}
    </ul>
</Layout>

<style>
  header h1 {
    font-size: 1.5rem;
  }
  ul {
    display:flex;
    flex-direction: column;
    gap: 1rem
  }
</style>
