---
import Layout from "../layouts/second.astro";
import { PROJECT,DOMAIN } from "../utils/constants.ts";
import { Link } from "@lucide/astro";

const projectsByYear = PROJECT.reduce(
  (acc: Record<number, any[]>, project) => {
    if (!project.year) return acc;
    if (!acc[project.year]) acc[project.year] = [];
    acc[project.year].push(project);
    return acc;
  },
  {}
);

const sortedYears = Object.entries(projectsByYear).sort(
  (a, b) => Number(b[0]) - Number(a[0])
);

const TITLE = "Some Things I've Built"
const DESC = "A collection of personal projects, internal systems, and client work. Focused on building functional digital solutions that turn ambitious ideas into reality."
const URL = `${DOMAIN}/project`
---

<Layout>
  <Fragment slot="head">
    <title>{TITLE}</title>
    <meta name="description" content={DESC} />
    <link rel="canonical" href={URL} />
    <meta property="og:url" content={URL} />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESC} />
    <meta name="twitter:title" content={TITLE} />
    <meta name="twitter:description" content={DESC} />
  </Fragment >
  <Fragment slot="sidebar">
    {sortedYears.map(([year]) => (
      <a href={`#year-${year}`} class="side__dot" aria-label={`Year ${year}`}>
        <span class="label">{year}</span>
      </a>
    ))}
  </Fragment>

  <header>
    <h1>{TITLE}</h1>
    <p>{DESC}</p>
  </header>

  <ul class="projects__root">
    {sortedYears.map(([year, projects]) => (
      <li class="year__block" id={`year-${year}`}>
        <h2>{year}</h2>

        <ul class="project__list">
          {projects.map((project) => (
            <li class="project__item">
              <div class="content">
                <h3>{project.title}</h3>
                {project.website && (
                  <a href={project.website}>
                    <Link size={13} />
                    {project.website.replace("https://", "")}
                  </a>
                )}
              </div>
            </li>
          ))}
        </ul>
      </li>
    ))}
  </ul>
</Layout>

<style>

  header h1 {
    font-size: 1.5rem;
  }
  .projects__root > li::before {
    content: none !important;
  }
  .projects__root > li {
    padding: 0;
  }

  .projects__root {
    list-style: none;
    padding: 0;
  }

  .year__block {
    margin-bottom: 2.5rem;
    scroll-margin-top: 2rem;
  }

  .year__block h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .project__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .project__item {
    margin-bottom: 1.1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .content h3 {
    font-size: 14.5px;
    font-weight: 500;
  }

  .content a {
    width: fit-content;
    padding: 0.35rem 0.6rem;
    border: 1px solid var(--background-muted);
    border-radius: 6px;
    color: var(--foreground-muted);
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .content a:hover {
    border-color: var(--foreground-muted);
    color: var(--foreground);
  }
</style>
